@using Microsoft.AspNet.Identity
@model Blog1.Models.Blog

@{
    ViewBag.Title = "Details";
}

<style>


    .blog-container {
        background: #EFF0F1;
        
    }

        .blog-container img {
            width: 100%;
        }

        .blog-container div {
            padding: 10px;
        }

    .box {
        background-color: rosybrown;
        height: 60%;
        width: 60%;
        left: 20%;
        top: 20%;
    }

    .b {
        color: white;
    }
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>
<div class="row">
    <div>
        <nav style="padding-left:70px" class="navbar navbar-expand-md b">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border-color:black">
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar" style="background-color:black;"></span>
                    <span class="icon-bar" style="background-color:black;"></span>
                </button>
                <a class="navbar-brand" href="#">Categories</a>
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("CategorizedBrowse", "Blog",new { id="Movies" })"><span>Movies </span><span class="badge badge-notify">@ViewBag.countblogMovies</span></a></li>
                    <li><a href="@Url.Action("CategorizedBrowse", "Blog",new { id="Technologies" })"><span>Technologies </span><span class="badge badge-notify">@ViewBag.countblogTechnologies</span></a></li>
                    <li><a href="@Url.Action("CategorizedBrowse", "Blog",new { id="Games" })"><span>Games </span><span class="badge badge-notify">@ViewBag.countblogGames</span></a></li>
                    <li><a href="@Url.Action("CategorizedBrowse", "Blog",new { id="Animals" })"><span>Animals </span><span class="badge badge-notify">@ViewBag.countblogAnimals</span></a></li>
                    <li><a href="@Url.Action("CategorizedBrowse", "Blog",new { id="Art" })"><span>Art </span><span class="badge badge-notify">@ViewBag.countblogArt</span></a></li>
                    <li><a href="@Url.Action("CategorizedBrowse", "Blog",new { id="Supers" })"><span>Supers </span><span class="badge badge-notify">@ViewBag.countblogSupers</span></a></li>

                </ul>


            </div>
        </nav>

    </div>
</div>

    <div class="row">
        <div class="col-md-1"></div>


        <div class="blog-container">
            <div class="col-md-7">
                <hr />

                <h1>@Html.DisplayFor(model => model.Title)</h1>

                By  @Html.ActionLink(Model.Author.ToString(), "BrowseAuthor", new { id1 = Model.Author }) @Html.DisplayFor(model => model.CreationDate)

                <br />
                <div>
                    <img src="@Html.DisplayFor(model => model.ThumbnailImageUrl)" alt="Blog Thumbnail" class="img-responsive">
                    <br />

                    <br /> <p>
                        Category : @Html.ActionLink(Model.Category.ToString(), "CategorizedBrowse", new { id = Model.Category })

                        <br />
                    <p>@Html.DisplayFor(model => model.Content)</p>
                </div>
                <br />
                <br />
                <br />
                <br />
                @foreach (var item in ViewBag.blogSectionss)
                {
                    <div class="row">
                        <div>

                            <h2>
                                @item.SectionTitle
                            </h2>


                            <img src="@item.ImageUrl" class="img-responsive" alt="Cover">


                            <div>

                                <br />@item.SectionContent
                                <br />
                                <hr />
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.countLikeCheck != 0)
                {
                    @Html.Partial("_CreateDisLike", new Blog1.Models.BlogLike())
                }
                else
                {
                    @Html.Partial("_CreateLike", new Blog1.Models.BlogLike())
                }
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:small; text-align:left;">@ViewBag.countBlogComments Comments</p>
                    </div>
                    <div class="col-md-6">
                        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:small; text-align:right;">@Html.DisplayFor(model => model.LastUpdateDate)</p>
                    </div>
                </div>



                <br /> Comments...

                @foreach (var item in ViewBag.blogComments)
                {
                    <div class="row">
                        <div class="blog-container button2">
                            <div>

                                @item.Comment

                                <br /><a href="#">@item.CommentAuthor</a>
                                <br />@item.DateCreated
                                <br />
                            </div>
                        </div>
                    </div>
                }


                @Html.Partial("_CreateComments", new Blog1.Models.BlogComment())



                <br />
                <ul class="pager">
                    <li class="previous">@Html.ActionLink("Browse Again", "Browse")</li>

                    <li class="next">@Html.ActionLink("Next", "BrowseBlogSection", new { id = Model.BlogId })</li>
                </ul>


                @if (ViewBag.Author == User.Identity.GetUserName())
                {
                    <div>
                        @Html.ActionLink("Add Sections", "CreateBlogSection", new { id = Model.BlogId }, new { @class = " btn btn-success  " })

                        @Html.ActionLink("Delete", "Delete", new { id = Model.BlogId }, new { @class = " btn btn-danger  " })
                    </div>
                }
                else
                {

                }
            </div>
        </div>
        <div class="col-md-4">

            @Html.Partial("TrendingPost", ViewBag.blgs as IEnumerable<Blog1.Models.Blog>)



        </div>
    </div>
